<section class="photo-carousel" aria-label="Photo carousel">
  <div class="carousel-track-wrapper">
    <div class="carousel-track">
      <figure class="carousel-slide">
        <img src="{{ '/images/UPM_pre.jpg' | relative_url }}" alt="UPM_pre">
        <figcaption><strong>Universidad Politécnica de Madrid</strong>: Initial Journal in Robotics
        </figcaption>
      </figure>

      <figure class="carousel-slide">
        <img src="{{ '/images/iecon_pre.jpg' | relative_url }}" alt="IECON">
        <figcaption><strong>2025 IECON</strong>:Progressive Domain Transfer Learning for Contact-rich Hand-Tool-Environment Interaction</figcaption>
      </figure>

      <figure class="carousel-slide">
        <img src="{{ '/images/robio-pre.jpg' | relative_url }}" alt="Robio">
        <figcaption><strong>2024 ROBIO</strong>:Bio-Inspired Fuzzy Sliding Mode Based Cruise Control of USV with Model Uncertainty</figcaption>
      </figure>

    <figure class="carousel-slide">
        <img src="{{ '/images/cisram-pre.jpg' | relative_url }}" alt="CIS-RAM">
        <figcaption><strong>2024 CIS-RAM</strong>:A Confidence-based Allocation Approach for USV Trajectory Tracking via Human-Robot Co-Driving</figcaption>
      </figure>
    </div>
  </div>

  <button type="button" class="carousel-btn prev" aria-label="Previous slide">‹</button>
  <button type="button" class="carousel-btn next" aria-label="Next slide">›</button>

  <div class="carousel-dots" aria-hidden="false"></div>
</section>
